<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">&nbsp;</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">


      <ul class="nav navbar-nav  navbar-right">
        <li *ngIf="!currentUser"><a [routerLink]="['login']">Login</a></li>
        <li *ngIf="currentUser"><a (click)="logout()">Logout</a></li>
        <li *ngIf="!currentUser"><a [routerLink]="['register']">Register</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <p>
      Some content
    </p>
    <h2>Manage</h2>
    <h1>Your Content</h1>
  </div>
</div>

<div *ngIf="currentUser.admin">
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item">
        <a>
          Components
        </a>
        <a [routerLink]="['/component', 'new']"
           class="pull-right">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
      </li>
      <div *ngFor="let component of components">
        <li class="list-group-item">
          <a [routerLink]="['/component', component['_id'] ]">
            {{component['name']}}
          </a>
          <a [routerLink]="['/component', component['_id'], 'edit']"
             class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
          </a>

        </li>
      </div>
    </ul>
  </div>
</div>

<div *ngIf="!currentUser.admin">
  <div class="container">
    <ul class="list-group">
      <li class="list-group-item">
        <a>
          Components
        </a>
      </li>
      <div *ngFor="let component of components">
        <li class="list-group-item">
          <a [routerLink]="['/component', component['_id'] ]">
            {{component['name']}}
          </a>
        </li>
      </div>
    </ul>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <p class="align- text-center">&copy; Norteastern University | College of Computer and Information Science</p>
</nav>
